<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Hands-on Lab: Complete the EDA with SQL</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [1]:
!pip install sqlalchemy==1.4
!pip install ipython-sql
!pip install pandas

Collecting sqlalchemy==1.4
  Downloading SQLAlchemy-1.4.0.tar.gz (7.4 MB)
     ---------------------------------------- 0.0/7.4 MB ? eta -:--:--
     ----------- ---------------------------- 2.1/7.4 MB 9.8 MB/s eta 0:00:01
     ---------------- ----------------------- 3.1/7.4 MB 7.7 MB/s eta 0:00:01
     ---------------------- ----------------- 4.2/7.4 MB 7.0 MB/s eta 0:00:01
     ---------------------------- ----------- 5.2/7.4 MB 6.5 MB/s eta 0:00:01
     --------------------------------- ------ 6.3/7.4 MB 6.3 MB/s eta 0:00:01
     ---------------------------------------  7.3/7.4 MB 6.2 MB/s eta 0:00:01
     ---------------------------------------- 7.4/7.4 MB 5.4 MB/s eta 0:00:00
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Collecting greenlet!=0.4.17 (from sqlalchemy==1.4)
  Downloading greenlet-3.3.2-cp310-cp310-win_amd64.whl.metadata (3.8 kB)
Downloading greenlet-3.3.2-cp310-cp310-win_amd64.whl (230 kB)
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (pyproject.toml): started
  Building wheel for sqlalchemy (pyproject.toml): finished with status 'done'
  Created wheel for sqlalchemy: filename=sqlalchemy-1.4.0-cp310-cp310-win_amd64.whl size=1426309 sha256=3bb59eab75132c22da268cfce89e8cd9e293e7f63ee2e9a7dea367510353f138
  Stored in directory: c:\users\upa\appdata\local\pip\cache\wheels\22\8a\e1\9d63ce4e250a5dac944b29832f98ca73bd9984ae7011b12ea7
Successfully built sqlalchemy
Installing collected packages: greenlet, sqlalchemy
Successfully installed greenlet-3.3.2 sqlalchemy-1.4.0

[notice] A new release of pip is available: 24.3.1 -> 26.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Collecting ipython-sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl.metadata (17 kB)
Collecting prettytable (from ipython-sql)
  Downloading prettytable-3.17.0-py3-none-any.whl.metadata (34 kB)
Requirement already satisfied: ipython in c:\users\upa\appdata\roaming\python\python310\site-packages (from ipython-sql) (8.30.0)
Collecting sqlalchemy>=2.0 (from ipython-sql)
  Downloading sqlalchemy-2.0.46-cp310-cp310-win_amd64.whl.metadata (9.8 kB)
Collecting sqlparse (from ipython-sql)
  Downloading sqlparse-0.5.5-py3-none-any.whl.metadata (4.7 kB)
Requirement already satisfied: six in c:\users\upa\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (1.17.0)
Collecting ipython-genutils (from ipython-sql)
  Downloading ipython_genutils-0.2.0-py2.py3-none-any.whl.metadata (755 bytes)
Requirement already satisfied: greenlet>=1 in c:\users\upa\appdata\local\programs\python\python310\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.3.2)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\upa\appdata\roaming\python\python310\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: colorama in c:\users\upa\appdata\roaming\python\python310\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: decorator in c:\users\upa\appdata\roaming\python\python310\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: exceptiongroup in c:\users\upa\appdata\roaming\python\python310\site-packages (from ipython->ipython-sql) (1.2.2)
Requirement already satisfied: jedi>=0.16 in c:\users\upa\appdata\roaming\python\python310\site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline in c:\users\upa\appdata\roaming\python\python310\site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in c:\users\upa\appdata\roaming\python\python310\site-packages (from ipython->ipython-sql) (3.0.48)
Requirement already satisfied: pygments>=2.4.0 in c:\users\upa\appdata\roaming\python\python310\site-packages (from ipython->ipython-sql) (2.18.0)
Requirement already satisfied: stack_data in c:\users\upa\appdata\roaming\python\python310\site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\upa\appdata\roaming\python\python310\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: wcwidth in c:\users\upa\appdata\roaming\python\python310\site-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in c:\users\upa\appdata\roaming\python\python310\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: executing>=1.2.0 in c:\users\upa\appdata\roaming\python\python310\site-packages (from stack_data->ipython->ipython-sql) (2.1.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\upa\appdata\roaming\python\python310\site-packages (from stack_data->ipython->ipython-sql) (3.0.0)
Requirement already satisfied: pure-eval in c:\users\upa\appdata\roaming\python\python310\site-packages (from stack_data->ipython->ipython-sql) (0.2.3)
Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Downloading sqlalchemy-2.0.46-cp310-cp310-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 2.1/2.1 MB 60.5 MB/s eta 0:00:00
Downloading ipython_genutils-0.2.0-py2.py3-none-any.whl (26 kB)
Downloading prettytable-3.17.0-py3-none-any.whl (34 kB)
Downloading sqlparse-0.5.5-py3-none-any.whl (46 kB)
Installing collected packages: ipython-genutils, sqlparse, sqlalchemy, prettytable, ipython-sql
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.4.0
    Uninstalling SQLAlchemy-1.4.0:
      Successfully uninstalled SQLAlchemy-1.4.0
Successfully installed ipython-genutils-0.2.0 ipython-sql-0.5.0 prettytable-3.17.0 sqlalchemy-2.0.46 sqlparse-0.5.5

[notice] A new release of pip is available: 24.3.1 -> 26.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: pandas in c:\users\upa\appdata\local\programs\python\python310\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.22.4 in c:\users\upa\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.2.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\upa\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\upa\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\upa\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\upa\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 24.3.1 -> 26.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
import prettytable
prettytable.DEFAULT = 'DEFAULT'

In [3]:
%load_ext sql

In [4]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [5]:
%sql sqlite:///my_data1.db

In [6]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

**Note:This below code is added to remove blank rows from table**

In [7]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
Done.

[]

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"** . 

   

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [8]:
%sql SELECT distinct [Launch_Site] from SPACEXTABLE;

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]


### Task 2


#####  Display 5 records where launch sites begin with the string 'KSC'

In [9]:
%sql SELECT * from SPACEXTABLE where [Launch_Site] like "KSC%" limit 5;
#%sql SELECT TOP (5) from SPACEXTABLE where "Launch_Site" like "KSC%";

 * sqlite:///my_data1.db
(sqlite3.OperationalError) near "limit": syntax error
[SQL: SELECT * from SPACEXTABLE where [Launch_Site] like KSC% limit 5;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [10]:
%sql SELECT sum([PAYLOAD_MASS__KG_]) as TOTAL_PAYLOAD_MASS__KG_ from SPACEXTABLE where Customer = "NASA (CRS)";

 * sqlite:///my_data1.db
(sqlite3.OperationalError) no such column: CRS
[SQL: SELECT sum([PAYLOAD_MASS__KG_]) as TOTAL_PAYLOAD_MASS__KG_ from SPACEXTABLE where Customer = NASA (CRS) ;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [11]:
%sql select distinct [Customer] from SPACEXTABLE where Customer like "NASA%";

 * sqlite:///my_data1.db
(sqlite3.OperationalError) near ";": syntax error
[SQL: select distinct [Customer] from SPACEXTABLE where Customer like NASA% ;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [12]:
%sql SELECT avg([PAYLOAD_MASS__KG_]) as PAYLOAD_MASS__KG_ from SPACEXTABLE where Booster_Version = "F9 v1.1";

 * sqlite:///my_data1.db
(sqlite3.OperationalError) near "v1": syntax error
[SQL: SELECT avg([PAYLOAD_MASS__KG_]) as PAYLOAD_MASS__KG_ from SPACEXTABLE where Booster_Version = F9 v1.1 ;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

### Task 5

##### List the date where the succesful landing outcome in drone ship was acheived.


_Hint:Use min function_

In [13]:
%sql SELECT min([Date]) as First_Successful_Drone_Ship_Date from SPACEXTABLE where Landing_Outcome = "Success (drone ship)";

 * sqlite:///my_data1.db
(sqlite3.OperationalError) near "ship": syntax error
[SQL: SELECT min([Date]) as First_Successful_Drone_Ship_Date from SPACEXTABLE where Landing_Outcome = Success (drone ship) ;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [14]:
%sql SELECT [Date] as Successful_in_drone_ship_dateS from SPACEXTABLE where Landing_Outcome = "Success (drone ship)";

 * sqlite:///my_data1.db
(sqlite3.OperationalError) near "ship": syntax error
[SQL: SELECT [Date] as Successful_in_drone_ship_dateS from SPACEXTABLE where Landing_Outcome = Success (drone ship) ;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

### Task 6

##### List the names of the boosters which have success in ground pad  and have payload mass greater than 4000 but less than 6000

In [15]:
%sql select [BOOSTER_VERSION] from SPACEXTBL where LANDING_OUTCOME='Success (ground pad)' and PAYLOAD_MASS__KG_ BETWEEN 4001 and 5999

 * sqlite:///my_data1.db
Done.

[('F9 FT B1032.1',), ('F9 B4 B1040.1',), ('F9 B4 B1043.1',)]

### Task 7




##### List the total number of successful and failure mission outcomes

In [16]:
%sql SELECT MISSION_OUTCOME, COUNT(MISSION_OUTCOME) AS OUTCOME FROM SPACEXTBL GROUP BY MISSION_OUTCOME

 * sqlite:///my_data1.db
Done.

[('Failure (in flight)', 1),
 ('Success', 98),
 ('Success ', 1),
 ('Success (payload status unclear)', 1)]

### Task 8



##### List all the booster_versions that have carried the maximum payload mass. Use a subquery.

In [17]:
%sql SELECT [Booster_Version] FROM SPACEXTABLE WHERE PAYLOAD_MASS__KG_ = (SELECT MAX(PAYLOAD_MASS__KG_) FROM SPACEXTABLE)

 * sqlite:///my_data1.db
Done.

[('F9 B5 B1048.4',),
 ('F9 B5 B1049.4',),
 ('F9 B5 B1051.3',),
 ('F9 B5 B1056.4',),
 ('F9 B5 B1048.5',),
 ('F9 B5 B1051.4',),
 ('F9 B5 B1049.5',),
 ('F9 B5 B1060.2 ',),
 ('F9 B5 B1058.3 ',),
 ('F9 B5 B1051.6',),
 ('F9 B5 B1060.3',),
 ('F9 B5 B1049.7 ',)]

### Task 9


##### List the records which will display the month names, succesful landing_outcomes in ground pad ,booster versions, launch_site for the months in year 2017
**Note: SQLLite does not support monthnames. So you need to use substr(Date,6,2) for month, substr(Date,9,2) for date, substr(Date,0,5),='2017' for year.**

In [18]:
%sql SELECT substr(Date, 6, 2) AS month, [Landing_Outcome], [Booster_Version], [Launch_Site] FROM SPACEXTABLE WHERE substr(Date, 0, 5) = "2017" AND Landing_Outcome = "Success (ground pad)"

 * sqlite:///my_data1.db
(sqlite3.OperationalError) near "pad": syntax error
[SQL: SELECT substr(Date, 6, 2) AS month, [Landing_Outcome], [Booster_Version], [Launch_Site] FROM SPACEXTABLE WHERE substr(Date, 0, 5) = 2017 AND Landing_Outcome = Success (ground pad)]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order

In [19]:
%sql SELECT [Landing_Outcome], COUNT(*) AS outcome_count, RANK() OVER (ORDER BY COUNT(*) DESC) AS rank FROM SPACEXTABLE WHERE Date BETWEEN '2010-06-04' AND '2017-03-20' GROUP BY "Landing_Outcome"  ORDER BY  rank DESC;

 * sqlite:///my_data1.db
Done.

[('Precluded (drone ship)', 1, 8),
 ('Uncontrolled (ocean)', 2, 6),
 ('Failure (parachute)', 2, 6),
 ('Success (ground pad)', 3, 4),
 ('Controlled (ocean)', 3, 4),
 ('Success (drone ship)', 5, 2),
 ('Failure (drone ship)', 5, 2),
 ('No attempt', 10, 1)]

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%203/LAB-String_Patterns_Sorting_Grouping.md.html">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

Anne Fengyan Shi, PhD, completed this lab as an assignment for Data Science and Machine Learning Capstone Project by IBM DS0720EN on EdX, 06/08/2025

<!--## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |
--!>

## <h3 align="center"> Â© IBM Corporation 2021. All rights reserved. <h3/>